@model WebAppYte.Models.HoiDap

@{ ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";}
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@using WebAppYte.Models

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var uJson = httpContext.Session.GetString("userAdmin");
    var u = !string.IsNullOrEmpty(uJson) ? JsonSerializer.Deserialize<NguoiDung>(uJson) : null;
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Ma)

    <div class="form-group">
        @Html.LabelFor(model => model.Hoi, "Hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hoi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hoi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dap, "Trả lời", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mabn, "Người hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("mabn", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mabn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mand, "Người trả lời", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("mand", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mand, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngayhoi, "Ngày hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-date="The field Bắt đầu must be a date." id="ngayhoi" name="ngayhoi" type="date" value="@ViewBag.ngay" />
            <span class="field-validation-valid text-danger" data-valmsg-for="ngayhoi" data-valmsg-replace="true"></span>
        </div>
        @Html.ValidationMessageFor(model => model.Ngayhoi, "", new { @class = "text-danger" })
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
