@model IEnumerable<WebAppYte.Models.BenhNhan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>QUẢN LÝ NGƯỜI DÙNG</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
          Số điện thoại
        </th>
        <th>
            Email
       
        </th>
        <th>
          Địa chỉ
        </th>
        <th>
           Ngày sinh
        </th>
        <th>
           Giới tính
        </th>
        <th>
           Tên đăng nhập
        </th>
        <th>
          Mật khẩu
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @item.Ngaysinh.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gioitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tendn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mk)
       
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Mabn }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Mabn }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Mabn})
        </td>
    </tr>
}

</table>
