@model WebAppYte.Models.BaiViet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa tin tức này không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.Raw(@Model.Noidung)
        </dd>

        <dt>
           Hình ảnh
        </dt>

        <dd>
            <a class="thumb_cgia">
                <img class="img-responsive " loading="lazy" src="~/Common/images/@Model.Hinhanh" style="width:150px;height:150px;">
            </a>
        </dd>

        <dt>
           Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
           Ngày đăng
        </dt>

        <dd>
           @Model.Ngaydang.Value.ToString("dd/MM/yyyy")
        </dd>
        <dt>
            Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaloaiNavigation.Tenloai)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
